bower_components
node_modules
*.log
.DS_Store
/sslcert2
/ssl3
/ssl4
/app/assets/textures/iron1_pbr/*
/app/assets/textures/notOpen/*
/app/assets/textures/*
app/assets/textures/Tiles15/Tiles15_nrm.jpg
app/assets/textures/Tiles24/Tiles24_rgh.jpg
app/assets/textures/Tiles24/Tiles24_nrm.jpg
app/assets/textures/Tiles24/Tiles24_disp.jpg
app/assets/textures/Tiles24/Tiles24_col.jpg
app/assets/textures/Tiles15/Tiles15_rgh.jpg
app/assets/textures/Tiles15/Tiles15_disp.jpg
app/assets/textures/Tiles15/Tiles15_col.jpg
app/assets/textures/Tiles14/Tiles14_rgh.jpg
app/assets/textures/Tiles14/Tiles14_nrm.jpg
app/assets/textures/Tiles14/Tiles14_disp.jpg
app/assets/textures/Tiles14/Tiles14_col.jpg
app/assets/textures/Tiles12/Tiles12_rgh.jpg
app/assets/textures/Tiles12/Tiles12_nrm.jpg
app/assets/textures/Tiles12/Tiles12_disp.jpg
app/assets/textures/Tiles12/Tiles12_col.jpg
app/assets/textures/Tiles09/Tiles09_rgh.jpg
app/assets/textures/Tiles09/Tiles09_nrm.jpg
app/assets/textures/Tiles09/Tiles09_disp.jpg
app/assets/textures/Tiles09/Tiles09_col.jpg
app/assets/textures/Tiles09/Tiles09_AO.jpg
app/assets/textures/Scratches03/Scratches03_var2.jpg
app/assets/textures/Scratches03/Scratches03_var1.jpg
app/assets/textures/Scratches03/Scratches03_nrm.jpg
app/assets/textures/polishedConcrete1/roughness.jpg
app/assets/textures/polishedConcrete1/normal.jpg
app/assets/textures/polishedConcrete1/metallic.jpg
app/assets/textures/polishedConcrete1/height.jpg
app/assets/textures/polishedConcrete1/basecolor.jpg
app/assets/textures/polishedConcrete1/aorm.jpg
app/assets/textures/polishedConcrete1/ao.jpg
app/assets/textures/Plastic01/Plastic01_rgh.jpg
app/assets/textures/Plastic01/Plastic01_nrm.jpg
app/assets/textures/Plastic01/Plastic01_disp.jpg
app/assets/textures/Plastic01/Plastic01_col.jpg
app/assets/textures/paintedMetal2/store
app/assets/textures/paintedMetal2/roughness.jpg
app/assets/textures/paintedMetal2/normal.jpg
app/assets/textures/paintedMetal2/metallic.jpg
app/assets/textures/paintedMetal2/height.jpg
app/assets/textures/paintedMetal2/basecolor.jpg
app/assets/textures/paintedMetal2/aorm.jpg
app/assets/textures/paintedMetal2/ao.jpg
app/assets/textures/PaintedMetal04/PaintedMetal04_rgh.jpg
app/assets/textures/PaintedMetal04/PaintedMetal04_nrm.jpg
app/assets/textures/PaintedMetal04/PaintedMetal04_met.jpg
app/assets/textures/PaintedMetal04/PaintedMetal04_mask.jpg
app/assets/textures/PaintedMetal04/PaintedMetal04_disp.jpg
app/assets/textures/PaintedMetal04/PaintedMetal04_col.jpg
app/assets/textures/PaintedMetal01/roughness.jpg
app/assets/textures/PaintedMetal01/old/roughness.jpg
app/assets/textures/PaintedMetal01/old/normal.jpg
app/assets/textures/PaintedMetal01/old/metallic.jpg
app/assets/textures/PaintedMetal01/old/mask.jpg
app/assets/textures/PaintedMetal01/old/height.jpg
app/assets/textures/PaintedMetal01/old/basecolor.jpg
app/assets/textures/PaintedMetal01/old/aorm.jpg
app/assets/textures/PaintedMetal01/old/ao.jpg
app/assets/textures/PaintedMetal01/normal.jpg
app/assets/textures/PaintedMetal01/metallic.jpg
app/assets/textures/PaintedMetal01/height.jpg
app/assets/textures/PaintedMetal01/basecolor.jpg
app/assets/textures/PaintedMetal01/_mask.jpg
app/assets/textures/metalWeave3/roughness.jpg
app/assets/textures/metalWeave3/normal.jpg
app/assets/textures/metalWeave3/metallic.jpg
app/assets/textures/metalWeave3/height.jpg
app/assets/textures/metalWeave3/basecolor.jpg
app/assets/textures/metalWeave3/aorm.jpg
app/assets/textures/metalWeave3/ao.jpg
app/assets/textures/MetalWalkway06/MetalWalkway06_rgh.jpg
app/assets/textures/MetalWalkway06/MetalWalkway06_nrm.jpg
app/assets/textures/MetalWalkway06/MetalWalkway06_met.jpg
app/assets/textures/MetalWalkway06/MetalWalkway06_mask.jpg
app/assets/textures/MetalWalkway06/MetalWalkway06_disp.jpg
app/assets/textures/MetalWalkway06/MetalWalkway06_col.jpg
app/assets/textures/MetalPlates02/MetalPlates02_rgh.jpg
app/assets/textures/MetalPlates02/MetalPlates02_nrm.jpg
app/assets/textures/MetalPlates02/MetalPlates02_met.jpg
app/assets/textures/MetalPlates02/MetalPlates02_disp.jpg
app/assets/textures/MetalPlates02/MetalPlates02_col.jpg
app/assets/textures/Metal06/Metal06_rgh.jpg
app/assets/textures/Metal06/Metal06_nrm.jpg
app/assets/textures/Metal06/Metal06_met.jpg
app/assets/textures/Metal06/Metal06_disp.jpg
app/assets/textures/Metal06/Metal06_col.jpg
app/assets/textures/Metal05/Metal05_rgh.jpg
app/assets/textures/Metal05/Metal05_nrm.jpg
app/assets/textures/Metal05/Metal05_met.jpg
app/assets/textures/Metal05/Metal05_disp.jpg
app/assets/textures/Metal05/Metal05_col.jpg
app/assets/textures/Marble05/Marble05_rgh.jpg
app/assets/textures/Marble05/Marble05_nrm.jpg
app/assets/textures/Marble05/Marble05_mask.jpg
app/assets/textures/Marble05/Marble05_disp.jpg
app/assets/textures/Marble05/Marble05_col.jpg
app/assets/textures/Marble03/Marble03_rgh.jpg
app/assets/textures/Marble03/Marble03_nrm.jpg
app/assets/textures/Marble03/Marble03_mask.jpg
app/assets/textures/Marble03/Marble03_disp.jpg
app/assets/textures/Marble03/Marble03_col.jpg
app/assets/textures/Marble02/Marble02_rgh.jpg
app/assets/textures/Marble02/Marble02_nrm.jpg
app/assets/textures/Marble02/Marble02_mask.jpg
app/assets/textures/Marble02/Marble02_disp.jpg
app/assets/textures/Marble02/Marble02_col.jpg
app/assets/textures/Leather08/Leather08_rgh.jpg
app/assets/textures/Leather08/Leather08_nrm.jpg
app/assets/textures/Leather08/Leather08_disp.jpg
app/assets/textures/Leather08/Leather08_col.jpg
app/assets/textures/Leather08/Leather08_AO.jpg
app/assets/textures/Facade05/Facade05_rgh.jpg
app/assets/textures/Facade05/Facade05_nrm.jpg
app/assets/textures/Facade05/Facade05_met.jpg
app/assets/textures/Facade05/Facade05_disp.jpg
app/assets/textures/Facade05/Facade05_col.jpg
app/assets/textures/Facade02/Facade02_rgh.jpg
app/assets/textures/Facade02/Facade02_nrm.jpg
app/assets/textures/Facade02/Facade02_met.jpg
app/assets/textures/Facade02/Facade02_mask.jpg
app/assets/textures/Facade02/Facade02_emi.jpg
app/assets/textures/Facade02/Facade02_disp.jpg
app/assets/textures/Facade02/Facade02_col.jpg
app/assets/textures/Concrete10/Concrete10_rgh.jpg
app/assets/textures/Concrete10/Concrete10_nrm.jpg
app/assets/textures/Concrete10/Concrete10_disp.jpg
app/assets/textures/Concrete10/Concrete10_col.jpg
app/assets/textures/Concrete10/Concrete10_AO.jpg
app/assets/textures/Chip06/Chip06_rgh.jpg
app/assets/textures/Chip06/Chip06_nrm.jpg
app/assets/textures/Chip06/Chip06_met.jpg
app/assets/textures/Chip06/Chip06_disp.jpg
app/assets/textures/Chip06/Chip06_col.jpg
app/assets/textures/Chainmail04/Chainmail04_rgh.jpg
app/assets/textures/Chainmail04/Chainmail04_nrm.jpg
app/assets/textures/Chainmail04/Chainmail04_met.jpg
app/assets/textures/Chainmail04/Chainmail04_mask.jpg
app/assets/textures/Chainmail04/Chainmail04_ID.jpg
app/assets/textures/Chainmail04/Chainmail04_disp.jpg
app/assets/textures/Chainmail04/Chainmail04_col.jpg
app/assets/textures/brushedIron2/roughness.jpg
app/assets/textures/brushedIron2/normal.jpg
app/assets/textures/brushedIron2/metallic.jpg
app/assets/textures/brushedIron2/height.jpg
app/assets/textures/brushedIron2/basecolor.jpg
app/assets/textures/brushedIron2/aorm.jpg
app/assets/textures/brushedIron2/ao.jpg
app/assets/textures/bronze2/roughness.jpg
app/assets/textures/bronze2/normal.jpg
app/assets/textures/bronze2/metallic.jpg
app/assets/textures/bronze2/height.jpg
app/assets/textures/bronze2/basecolor.jpg
app/assets/textures/bronze2/aorm.jpg
app/assets/textures/bronze2/ao.jpg
app/assets/textures/asphalt8/roughness.jpg
app/assets/textures/asphalt8/normal.jpg
app/assets/textures/asphalt8/metallic.jpg
app/assets/textures/asphalt8/height.jpg
app/assets/textures/asphalt8/basecolor.jpg
app/assets/textures/asphalt8/aorm.jpg
app/assets/textures/asphalt8/ao.jpg
app/assets/textures/Asphalt13/Asphalt13_rgh.jpg
app/assets/textures/Asphalt13/Asphalt13_nrm.jpg
app/assets/textures/Asphalt13/Asphalt13_mask.jpg
app/assets/textures/Asphalt13/Asphalt13_disp.jpg
app/assets/textures/Asphalt13/Asphalt13_col.jpg
app/assets/textures/asphalt11/store
app/assets/textures/asphalt11/roughness.jpg
app/assets/textures/asphalt11/normal.jpg
app/assets/textures/asphalt11/metallic.jpg
app/assets/textures/asphalt11/mask.jpg
app/assets/textures/asphalt11/height.jpg
app/assets/textures/asphalt11/basecolor.jpg
app/assets/textures/asphalt11/aorm.jpg
app/assets/textures/asphalt11/ao.jpg
app/assets/textures/Tiles24/roughness.jpg
app/assets/textures/Tiles24/normal.jpg
app/assets/textures/Tiles24/metallic.jpg
app/assets/textures/Tiles24/height.jpg
app/assets/textures/Tiles24/basecolor.jpg
app/assets/textures/Tiles24/aorm.jpg
app/assets/textures/Tiles24/ao.jpg
app/assets/textures/Tiles15/roughness.jpg
app/assets/textures/Tiles15/normal.jpg
app/assets/textures/Tiles15/metallic.jpg
app/assets/textures/Tiles15/height.jpg
app/assets/textures/Tiles15/basecolor.jpg
app/assets/textures/Tiles15/aorm.jpg
app/assets/textures/Tiles15/ao.jpg
app/assets/textures/Tiles14/roughness.jpg
app/assets/textures/Tiles14/normal.jpg
app/assets/textures/Tiles14/metallic.jpg
app/assets/textures/Tiles14/height.jpg
app/assets/textures/Tiles14/basecolor.jpg
app/assets/textures/Tiles14/aorm.jpg
app/assets/textures/Tiles14/ao.jpg
app/assets/textures/Tiles12/roughness.jpg
app/assets/textures/Tiles12/normal.jpg
app/assets/textures/Tiles12/metallic.jpg
app/assets/textures/Tiles12/height.jpg
app/assets/textures/Tiles12/basecolor.jpg
app/assets/textures/Tiles12/aorm.jpg
app/assets/textures/Tiles12/ao.jpg
app/assets/textures/Tiles09/roughness.jpg
app/assets/textures/Tiles09/normal.jpg
app/assets/textures/Tiles09/metallic.jpg
app/assets/textures/Tiles09/height.jpg
app/assets/textures/Tiles09/basecolor.jpg
app/assets/textures/Tiles09/aorm.jpg
app/assets/textures/Tiles09/ao.jpg
app/assets/textures/Scratches03/var2.jpg
app/assets/textures/Scratches03/var1.jpg
app/assets/textures/Scratches03/normal.jpg
app/assets/textures/Plastic01/roughness.jpg
app/assets/textures/Plastic01/normal.jpg
app/assets/textures/Plastic01/metallic.jpg
app/assets/textures/Plastic01/height.jpg
app/assets/textures/Plastic01/basecolor.jpg
app/assets/textures/Plastic01/aorm.jpg
app/assets/textures/Plastic01/ao.jpg
app/assets/textures/PaintedMetal04/roughness.jpg
app/assets/textures/PaintedMetal04/normal.jpg
app/assets/textures/PaintedMetal04/metallic.jpg
app/assets/textures/PaintedMetal04/mask.jpg
app/assets/textures/PaintedMetal04/height.jpg
app/assets/textures/PaintedMetal04/basecolor.jpg
app/assets/textures/PaintedMetal04/aorm.jpg
app/assets/textures/PaintedMetal04/ao.jpg
app/assets/textures/PaintedMetal01/mask.jpg
app/assets/textures/PaintedMetal01/aorm.jpg
app/assets/textures/PaintedMetal01/ao.jpg
app/assets/textures/MetalWalkway06/roughness.jpg
app/assets/textures/MetalWalkway06/normal.jpg
app/assets/textures/MetalWalkway06/metallic.jpg
app/assets/textures/MetalWalkway06/mask.jpg
app/assets/textures/MetalWalkway06/height.jpg
app/assets/textures/MetalWalkway06/basecolor.jpg
app/assets/textures/MetalWalkway06/aorm.jpg
app/assets/textures/MetalWalkway06/ao.jpg
app/assets/textures/MetalPlates02/roughness.jpg
app/assets/textures/MetalPlates02/normal.jpg
app/assets/textures/MetalPlates02/metallic.jpg
app/assets/textures/MetalPlates02/height.jpg
app/assets/textures/MetalPlates02/basecolor.jpg
app/assets/textures/MetalPlates02/aorm.jpg
app/assets/textures/MetalPlates02/ao.jpg
app/assets/textures/Metal06/roughness.jpg
app/assets/textures/Metal06/normal.jpg
app/assets/textures/Metal06/metallic.jpg
app/assets/textures/Metal06/height.jpg
app/assets/textures/Metal06/basecolor.jpg
app/assets/textures/Metal06/aorm.jpg
app/assets/textures/Metal06/ao.jpg
app/assets/textures/Metal05/roughness.jpg
app/assets/textures/Metal05/normal.jpg
app/assets/textures/Metal05/metallic.jpg
app/assets/textures/Metal05/height.jpg
app/assets/textures/Metal05/basecolor.jpg
app/assets/textures/Metal05/aorm.jpg
app/assets/textures/Metal05/ao.jpg
app/assets/textures/Marble05/roughness.jpg
app/assets/textures/Marble05/normal.jpg
app/assets/textures/Marble05/metallic.jpg
app/assets/textures/Marble05/mask.jpg
app/assets/textures/Marble05/height.jpg
app/assets/textures/Marble05/basecolor.jpg
app/assets/textures/Marble05/aorm.jpg
app/assets/textures/Marble05/ao.jpg
app/assets/textures/Marble03/roughness.jpg
app/assets/textures/Marble03/normal.jpg
app/assets/textures/Marble03/metallic.jpg
app/assets/textures/Marble03/mask.jpg
app/assets/textures/Marble03/height.jpg
app/assets/textures/Marble03/basecolor.jpg
app/assets/textures/Marble03/aorm.jpg
app/assets/textures/Marble03/ao.jpg
app/assets/textures/Marble02/roughness.jpg
app/assets/textures/Marble02/normal.jpg
app/assets/textures/Marble02/metallic.jpg
app/assets/textures/Marble02/mask.jpg
app/assets/textures/Marble02/height.jpg
app/assets/textures/Marble02/basecolor.jpg
app/assets/textures/Marble02/aorm.jpg
app/assets/textures/Marble02/ao.jpg
app/assets/textures/Leather08/roughness.jpg
app/assets/textures/Leather08/normal.jpg
app/assets/textures/Leather08/metallic.jpg
app/assets/textures/Leather08/height.jpg
app/assets/textures/Leather08/basecolor.jpg
app/assets/textures/Leather08/aorm.jpg
app/assets/textures/Leather08/ao.jpg
app/assets/textures/Facade05/roughness.jpg
app/assets/textures/Facade05/normal.jpg
app/assets/textures/Facade05/metallic.jpg
app/assets/textures/Facade05/height.jpg
app/assets/textures/Facade05/basecolor.jpg
app/assets/textures/Facade05/aorm.jpg
app/assets/textures/Facade05/ao.jpg
app/assets/textures/Facade02/roughness.jpg
app/assets/textures/Facade02/normal.jpg
app/assets/textures/Facade02/metallic.jpg
app/assets/textures/Facade02/mask.jpg
app/assets/textures/Facade02/height.jpg
app/assets/textures/Facade02/emi.jpg
app/assets/textures/Facade02/basecolor.jpg
app/assets/textures/Facade02/aorm.jpg
app/assets/textures/Facade02/ao.jpg
app/assets/textures/Concrete10/roughness.jpg
app/assets/textures/Concrete10/normal.jpg
app/assets/textures/Concrete10/metallic.jpg
app/assets/textures/Concrete10/height.jpg
app/assets/textures/Concrete10/basecolor.jpg
app/assets/textures/Concrete10/aorm.jpg
app/assets/textures/Concrete10/ao.jpg
app/assets/textures/Chip06/roughness.jpg
app/assets/textures/Chip06/normal.jpg
app/assets/textures/Chip06/metallic.jpg
app/assets/textures/Chip06/height.jpg
app/assets/textures/Chip06/basecolor.jpg
app/assets/textures/Chip06/aorm.jpg
app/assets/textures/Chip06/ao.jpg
app/assets/textures/Chainmail04/roughness.jpg
app/assets/textures/Chainmail04/normal.jpg
app/assets/textures/Chainmail04/metallic.jpg
app/assets/textures/Chainmail04/mask.jpg
app/assets/textures/Chainmail04/id.jpg
app/assets/textures/Chainmail04/height.jpg
app/assets/textures/Chainmail04/basecolor.jpg
app/assets/textures/Chainmail04/aorm.jpg
app/assets/textures/Chainmail04/ao.jpg
app/assets/textures/Asphalt13/roughness.jpg
app/assets/textures/Asphalt13/normal.jpg
app/assets/textures/Asphalt13/metallic.jpg
app/assets/textures/Asphalt13/mask.jpg
app/assets/textures/Asphalt13/height.jpg
app/assets/textures/Asphalt13/basecolor.jpg
app/assets/textures/Asphalt13/aorm.jpg
app/assets/textures/Asphalt13/ao.jpg
app/assets/textures/Asphalt15/ao.jpg
app/assets/textures/Asphalt15/aorm.jpg
app/assets/textures/Asphalt15/basecolor.jpg
app/assets/textures/Asphalt15/height.jpg
app/assets/textures/Asphalt15/metallic.jpg
app/assets/textures/Asphalt15/normal.jpg
app/assets/textures/Asphalt15/roughness.jpg
app/assets/textures/Concrete19/ao.jpg
app/assets/textures/Concrete19/aorm.jpg
app/assets/textures/Concrete19/basecolor.jpg
app/assets/textures/Concrete19/height.jpg
app/assets/textures/Concrete19/metallic.jpg
app/assets/textures/Concrete19/normal.jpg
app/assets/textures/Concrete19/roughness.jpg
app/assets/textures/Ice01/ao.jpg
app/assets/textures/Ice01/aorm.jpg
app/assets/textures/Ice01/basecolor.jpg
app/assets/textures/Ice01/height.jpg
app/assets/textures/Ice01/metallic.jpg
app/assets/textures/Ice01/normal.jpg
app/assets/textures/Ice01/roughness.jpg
app/assets/textures/Ice02/ao.jpg
app/assets/textures/Ice02/aorm.jpg
app/assets/textures/Ice02/basecolor.jpg
app/assets/textures/Ice02/height.jpg
app/assets/textures/Ice02/metallic.jpg
app/assets/textures/Ice02/normal.jpg
app/assets/textures/Ice02/roughness.jpg
app/assets/textures/Ice04/ao.jpg
app/assets/textures/Ice04/aorm.jpg
app/assets/textures/Ice04/basecolor.jpg
app/assets/textures/Ice04/height.jpg
app/assets/textures/Ice04/metallic.jpg
app/assets/textures/Ice04/normal.jpg
app/assets/textures/Ice04/roughness.jpg
app/assets/textures/Metal17/ao.jpg
app/assets/textures/Metal17/aorm.jpg
app/assets/textures/Metal17/basecolor.jpg
app/assets/textures/Metal17/height.jpg
app/assets/textures/Metal17/metallic.jpg
app/assets/textures/Metal17/normal.jpg
app/assets/textures/Metal17/roughness.jpg
app/assets/textures/Rock16/ao.jpg
app/assets/textures/Rock16/aorm.jpg
app/assets/textures/Rock16/basecolor.jpg
app/assets/textures/Rock16/height.jpg
app/assets/textures/Rock16/metallic.jpg
app/assets/textures/Rock16/normal.jpg
app/assets/textures/Rock16/roughness.jpg
app/assets/textures/Snow06/ao.jpg
app/assets/textures/Snow06/aorm.jpg
app/assets/textures/Snow06/basecolor.jpg
app/assets/textures/Snow06/height.jpg
app/assets/textures/Snow06/metallic.jpg
app/assets/textures/Snow06/normal.jpg
app/assets/textures/Snow06/roughness.jpg
app/assets/textures/SurfaceImperfections12/normal.jpg
app/assets/textures/SurfaceImperfections12/var1.jpg
app/assets/textures/SurfaceImperfections12/var2.jpg
app/assets/textures/Terrazzo04/ao.jpg
app/assets/textures/Terrazzo04/aorm.jpg
app/assets/textures/Terrazzo04/basecolor.jpg
app/assets/textures/Terrazzo04/height.jpg
app/assets/textures/Terrazzo04/metallic.jpg
app/assets/textures/Terrazzo04/normal.jpg
app/assets/textures/Terrazzo04/roughness.jpg
app/assets/textures/Tiles32/ao.jpg
app/assets/textures/Tiles32/aorm.jpg
app/assets/textures/Tiles32/basecolor.jpg
app/assets/textures/Tiles32/height.jpg
app/assets/textures/Tiles32/metallic.jpg
app/assets/textures/Tiles32/normal.jpg
app/assets/textures/Tiles32/roughness.jpg
app/assets/textures/Tiles36/ao.jpg
app/assets/textures/Tiles36/aorm.jpg
app/assets/textures/Tiles36/basecolor.jpg
app/assets/textures/Tiles36/height.jpg
app/assets/textures/Tiles36/metallic.jpg
app/assets/textures/Tiles36/normal.jpg
app/assets/textures/Tiles36/roughness.jpg
app/assets/textures/Tiles59/ao.jpg
app/assets/textures/Tiles59/aorm.jpg
app/assets/textures/Tiles59/basecolor.jpg
app/assets/textures/Tiles59/height.jpg
app/assets/textures/Tiles59/metallic.jpg
app/assets/textures/Tiles59/normal.jpg
app/assets/textures/Tiles59/roughness.jpg
app/assets/textures/WoodFloor20/ao.jpg
app/assets/textures/WoodFloor20/aorm.jpg
app/assets/textures/WoodFloor20/basecolor.jpg
app/assets/textures/WoodFloor20/height.jpg
app/assets/textures/WoodFloor20/metallic.jpg
app/assets/textures/WoodFloor20/normal.jpg
app/assets/textures/WoodFloor20/roughness.jpg
app/assets/textures/sprites/ball.png
app/assets/textures/sprites/circle.png
app/assets/textures/sprites/circle_01.png
app/assets/textures/sprites/circle_02.png
app/assets/textures/sprites/circle_03.png
app/assets/textures/sprites/circle_04.png
app/assets/textures/sprites/circle_05.png
app/assets/textures/sprites/dirt_01.png
app/assets/textures/sprites/dirt_02.png
app/assets/textures/sprites/dirt_03.png
app/assets/textures/sprites/disc.png
app/assets/textures/sprites/fire_01.png
app/assets/textures/sprites/fire_02.png
app/assets/textures/sprites/flame_01.png
app/assets/textures/sprites/flame_02.png
app/assets/textures/sprites/flame_03.png
app/assets/textures/sprites/flame_04.png
app/assets/textures/sprites/flame_05.png
app/assets/textures/sprites/flame_06.png
app/assets/textures/sprites/flare_01.png
app/assets/textures/sprites/Kenney.url
app/assets/textures/sprites/License.txt
app/assets/textures/sprites/light_01.png
app/assets/textures/sprites/light_02.png
app/assets/textures/sprites/light_03.png
app/assets/textures/sprites/magic_01.png
app/assets/textures/sprites/magic_02.png
app/assets/textures/sprites/magic_03.png
app/assets/textures/sprites/magic_04.png
app/assets/textures/sprites/magic_05.png
app/assets/textures/sprites/muzzle_01.png
app/assets/textures/sprites/muzzle_02.png
app/assets/textures/sprites/muzzle_03.png
app/assets/textures/sprites/muzzle_04.png
app/assets/textures/sprites/muzzle_05.png
app/assets/textures/sprites/Patreon.url
app/assets/textures/sprites/Preview.png
app/assets/textures/sprites/Rotated/flame_05_rotated.png
app/assets/textures/sprites/Rotated/flame_06_rotated.png
app/assets/textures/sprites/Rotated/muzzle_01_rotated.png
app/assets/textures/sprites/Rotated/muzzle_02_rotated.png
app/assets/textures/sprites/Rotated/muzzle_03_rotated.png
app/assets/textures/sprites/Rotated/muzzle_04_rotated.png
app/assets/textures/sprites/Rotated/muzzle_05_rotated.png
app/assets/textures/sprites/Rotated/spark_05_rotated.png
app/assets/textures/sprites/Rotated/spark_06_rotated.png
app/assets/textures/sprites/Rotated/trace_01_rotated.png
app/assets/textures/sprites/Rotated/trace_02_rotated.png
app/assets/textures/sprites/Rotated/trace_03_rotated.png
app/assets/textures/sprites/Rotated/trace_04_rotated.png
app/assets/textures/sprites/Rotated/trace_05_rotated.png
app/assets/textures/sprites/Rotated/trace_06_rotated.png
app/assets/textures/sprites/Rotated/trace_07_rotated.png
app/assets/textures/sprites/scorch_01.png
app/assets/textures/sprites/scorch_02.png
app/assets/textures/sprites/scorch_03.png
app/assets/textures/sprites/scratch_01.png
app/assets/textures/sprites/slash_01.png
app/assets/textures/sprites/slash_02.png
app/assets/textures/sprites/slash_03.png
app/assets/textures/sprites/slash_04.png
app/assets/textures/sprites/smoke_01.png
app/assets/textures/sprites/smoke_02.png
app/assets/textures/sprites/smoke_03.png
app/assets/textures/sprites/smoke_04.png
app/assets/textures/sprites/smoke_05.png
app/assets/textures/sprites/smoke_06.png
app/assets/textures/sprites/smoke_07.png
app/assets/textures/sprites/smoke_08.png
app/assets/textures/sprites/smoke_09.png
app/assets/textures/sprites/smoke_10.png
app/assets/textures/sprites/spark1.png
app/assets/textures/sprites/spark_01.png
app/assets/textures/sprites/spark_02.png
app/assets/textures/sprites/spark_03.png
app/assets/textures/sprites/spark_04.png
app/assets/textures/sprites/spark_05.png
app/assets/textures/sprites/spark_06.png
app/assets/textures/sprites/spark_07.png
app/assets/textures/sprites/star_01.png
app/assets/textures/sprites/star_02.png
app/assets/textures/sprites/star_03.png
app/assets/textures/sprites/star_04.png
app/assets/textures/sprites/star_05.png
app/assets/textures/sprites/star_06.png
app/assets/textures/sprites/star_07.png
app/assets/textures/sprites/star_08.png
app/assets/textures/sprites/star_09.png
app/assets/textures/sprites/symbol_01.png
app/assets/textures/sprites/symbol_02.png
app/assets/textures/sprites/trace_01.png
app/assets/textures/sprites/trace_02.png
app/assets/textures/sprites/trace_03.png
app/assets/textures/sprites/trace_04.png
app/assets/textures/sprites/trace_05.png
app/assets/textures/sprites/trace_06.png
app/assets/textures/sprites/trace_07.png
app/assets/textures/sprites/twirl_01.png
app/assets/textures/sprites/twirl_02.png
app/assets/textures/sprites/twirl_03.png
app/assets/textures/sprites/window_01.png
app/assets/textures/sprites/window_02.png
app/assets/textures/sprites/window_03.png
app/assets/textures/sprites/window_04.png
app/assets/textures/rooftopNight_1024/nx.hdr
app/assets/textures/rooftopNight_1024/ny.hdr
app/assets/textures/rooftopNight_1024/nz.hdr
app/assets/textures/rooftopNight_1024/px.hdr
app/assets/textures/rooftopNight_1024/py.hdr
app/assets/textures/rooftopNight_1024/pz.hdr
app/assets/textures/sataraNight_1024/nx.hdr
app/assets/textures/sataraNight_1024/ny.hdr
app/assets/textures/sataraNight_1024/nz.hdr
app/assets/textures/sataraNight_1024/px.hdr
app/assets/textures/sataraNight_1024/py.hdr
app/assets/textures/sataraNight_1024/pz.hdr
app/assets/textures/sunsetA_1024/nx.hdr
app/assets/textures/sunsetA_1024/ny.hdr
app/assets/textures/sunsetA_1024/nz.hdr
app/assets/textures/sunsetA_1024/px.hdr
app/assets/textures/sunsetA_1024/py.hdr
app/assets/textures/sunsetA_1024/pz.hdr
app/assets/textures/SunsetB_08_1024/nx.hdr
app/assets/textures/SunsetB_08_1024/ny.hdr
app/assets/textures/SunsetB_08_1024/nz.hdr
app/assets/textures/SunsetB_08_1024/px.hdr
app/assets/textures/SunsetB_08_1024/py.hdr
app/assets/textures/SunsetB_08_1024/pz.hdr
app/assets/textures/winterLake_1024/nx.hdr
app/assets/textures/winterLake_1024/ny.hdr
app/assets/textures/winterLake_1024/nz.hdr
app/assets/textures/winterLake_1024/px.hdr
app/assets/textures/winterLake_1024/py.hdr
app/assets/textures/winterLake_1024/pz.hdr
app/assets/textures/winterRiver_1024/nx.hdr
app/assets/textures/winterRiver_1024/ny.hdr
app/assets/textures/winterRiver_1024/nz.hdr
app/assets/textures/winterRiver_1024/px.hdr
app/assets/textures/winterRiver_1024/py.hdr
app/assets/textures/winterRiver_1024/pz.hdr
out.html
app/assets/textures/gold1_1k/aorm.jpg
app/assets/textures/gold1_1k/basecolor.jpg
app/assets/textures/gold1_1k/height.jpg
app/assets/textures/gold1_1k/normal.jpg
app/assets/textures/gold1_512/aorm.jpg
app/assets/textures/gold1_512/basecolor.jpg
app/assets/textures/gold1_512/height.jpg
app/assets/textures/gold1_512/normal.jpg
